name: 'Tests'


on:
  workflow_dispatch: # To can dispatch manually

  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches:
      - main


env:
  SDK_VERSION_7: '7.0.202'
  SDK_VERSION_6: '6.0.407'
  SDK_VERSION_5: '5.0.408'
  TEST_RESULTS_DIRECTORY: './TestResults'


jobs:

  test-project:
    name: "Test nuget"
    runs-on: ubuntu-latest

    steps:
    - name: "Checkout"
      uses: actions/checkout@v3

    - name: "Setup .NET"
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          ${{ env.SDK_VERSION_7 }}
          ${{ env.SDK_VERSION_6 }}
          ${{ env.SDK_VERSION_5 }}

    - name: "Restore dependencies"
      run: dotnet restore

    - name: "Build"
      run: dotnet build --configuration Release --no-restore

    - name: "Run tests"
      run: dotnet test --configuration Release --no-build --verbosity normal --results-directory ${{ env.TEST_RESULTS_DIRECTORY }} --logger "junit;LogFileName=test-result-$(uuidgen).xml" --logger "console;verbosity=detailed"

    - name: "Publish test results"
      uses: test-summary/action@v2
      if: always()
      with:
        paths: "${{ env.TEST_RESULTS_DIRECTORY }}/**/*.xml"
